<div class="container p-4">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="card text-center p-md-4 py-4">
                <div class="card-body">
                    <h3>ยก404 NOT FOUND!</h3>
                    <h5>Lo sentimos, la pagina que buscas no existe :(</h5>
                </div>
            </div>
        </div>
    </div>
</div>