html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    background: rgb(228, 228, 227);
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;
}

.h-100{
    min-height: auto;
    height:100%;
}

.w-100{
    width: 100%;
}

.p-nav{
    padding-top:52px; 
}

.cart{
    background: url(/img/car.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width:80px;
    height:80px;
    display: inline-block;
}

.card-tienda{
    width:100%;
    max-width:19em;
    background: rgb(228, 228, 227);
}

.ocultar{
    display:none;
}

@media (max-width: 768px) {
    .display-4 {
        font-size: 2rem;
    }
    
    h3 {
        font-size: 1.25rem;
    }
  
    .cart{
        width:50px;
        height:50px;
    }  
}